{% extends 'base.html.twig' %}

{% block product %}

    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-9 padding-right">
                    <div class="product-details">
                        <div class="col-sm-5">
                            <div class="view-product">
                                <img src="{{ product.img }}" alt=""/>
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <div class="product-information">

                                <h2>{{ product.title }}</h2>
                                <p>ID: {{ product.id }}</p>

                                <span>
                                    <form action="{{ path('product_bid', {'id': product.id}) }}" method="post">
                                        <input type="number" id="bid" name="bid">
                                        <input type="number" id="max_bid" name="max_bid">
                                        <button type="submit" id="append_bid">Bid</button>
                                    </form>
								</span>

                            </div>
                        </div>
                    </div>

                    <div class="category-tab shop-details-tab">
                        <div class="col-sm-12">
                            <ul class="nav nav-tabs">
                                <li><a href="#details" data-toggle="tab">Details</a></li>
                            </ul>
                        </div>
                        <div class="tab-content">
                            <p>{{ product.description }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}